body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fundo.jpg);
    color: white;
    text-align: center;

}
label{
    font-size: 18px;
    border-bottom: 2px solid white;
}
.atividades-extras{
    display: inline-block;
}
#titulo-form{
    color: #FFFFFF;
    background: #0e8dbc;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    
}

input{
    border-radius: 2em;
    height:2em;
}
